<!DOCTYPE html>
<html>
<% rel_path = album['random'] ? './' : '../../' %>
<head>
	<title><%= "Album of the Day, #{album['date']}: #{album['artist']} - #{album['album']} (#{album['year']})" %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" href="https://ervik.hopto.org/aotd/rss/spotify.xml" title="Album of the Day on Spotify">
    <!-- <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet'> -->
	<link rel="stylesheet" type="text/css" href="<%= rel_path %>css/style.css">
</head>
<body>
	
	<% if album['random'] %>
		<h1>Random Album of the Day</h1>
	<% else %>
		<h1>Album of the Day</h1>
	<% end %>
	<h2><%= "#{['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][album['date_obj'].wday]}, #{album['date']}" %></h2>
	<div class = "navigation"> 
		<% prev_day = album["date_obj"] - 1 unless album["date_obj"] == first_date || album['random'] %>
		<% next_day = album["date_obj"] + 1 unless album["date_obj"] == Date.today || album['random'] %>
		<%= prev_day.nil? ? "<span class = 'disabled'>&larr;</span>" : "<a href = '#{rel_path}#{prev_day.year}/#{prev_day.month}/#{prev_day.day}.html' > &larr; </a> " %> 
		<% if album['random'] %>
			<a href = "./index.html" >Today</a>
		<% else %>
			<%= album["date_obj"] == Date.today ? "<span class = 'disabled'>Today</span>" : "<a href = '../../index.html' >Today</a>" %>
		<% end %>
		<%= next_day.nil? ? "<span class = 'disabled'>&rarr;</span>" : "<a href = '../../#{next_day.year}/#{next_day.month}/#{next_day.day}.html' > &rarr; </a> " %>
		<br><span class='miniscule'><a href=<%= "'#{rel_path}random.html'" %>>Random</a> | <a href=<%= "'#{rel_path}stats.html'" %>>Stats</a></span>
	</div>
	<div class = 'image'>
		<% url = album['providers']['spotify'].nil? ? album['providers'].values.first : album['providers']['spotify'] %>
		<%= "<a href='#{url}'><img src='#{album['thumbnail']}' alt='#{album['artist'] } - #{album['album']}' width='66%' ></a>" %> 
	</div>
	<div> 
		<% if album['year'].nil? || album['year'].strip.empty? %>
			<h2><%= "#{album["artist"]} - #{album["album"]}" %></h2>
		<% else %>
			<h2><%= "#{album["artist"]} - #{album["album"]} (#{album['year']})" %></h2>
		<% end %>
	</div>
	<div class = 'comment'>
		<%= "#{Kramdown::Document.new(album['comment']).to_html}" %>
	</div>
	<hr>
	<div class='providers'>
		Available on: 
		<% p_text = [] %>
		<% album["providers"].keys.each { |provider| p_text << "<a href='#{album["providers"][provider]}'>#{provider}</a>" } %>
		<%= p_text.join(" | ")%>
	</div>
	<hr>
	<small>CC BY-NC-SA 2020 mortenjohs -- <a href='https://github.com/mortenjohs/AlbumOfTheDay'>source</a></small><br>
	<small>
		<% p_text = [] %>
		<% providers.each { |provider| p_text << "<a href='#{rel_path}rss/#{provider}.xml'>#{provider}</a>" } %>
		<%= "RSS(ATOM): #{p_text.join(' | ')}"%>
	</small>
</body>