<html>
<head>
	<title><%= "Album of the Day, #{album['date']}: #{album['artist']} - #{album['album']}" %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" href="https://ervik.hopto.org/aotd/rss/spotify.xml" title="Album of the Day on Spotify">
	<style type="text/css">
		body {
			font-family: sans-serif;
			text-align: center;
		}
		a {
			text-decoration: none;
		}
		h1 {
			margin-bottom: -15px;
		}
		h2 {
			margin-bottom: 5px;
		}
		.image {
			margin: auto;
			width: 50%;
			padding: 5px;
		}
		.providers {
			margin: auto;
			padding: 10px;
			width: 25%;
		}
		hr { 
		  display: block;
		  margin-top: 0.5em;
		  margin-bottom: 0.5em;
		  margin-left: 33%;
		  margin-right: 33%;
		  border-style: inset;
		  border-width: 1px;
		} 
		.disabled {
			color: lightgray;
		}

	</style>
</head>
<body>
	<% if album['random'] %>
		<h1>Random Album of the Day</h1>
	<% else %>
		<h1>Album of the Day</h1>
	<% end %>
	<h2><%= "#{['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][album['date_obj'].wday]}, #{album['date']}" %></h2>
	<div class = "navigation"> 
		<% prev_day = album["date_obj"] - 1 unless album["date_obj"] == first_date || album['random'] %>
		<% next_day = album["date_obj"] + 1 unless album["date_obj"] == Date.today || album['random'] %>
		<%= prev_day.nil? ? "<span class = 'disabled'>&larr;</span>" : "<a href = '../../#{prev_day.year}/#{prev_day.month}/#{prev_day.day}.html' > &larr; </a> " %>
	<% if album['random'] %>
		<a href = './index.html' >Today</a>
	<% else %>
		<%= album["date_obj"] == Date.today ? "<span class = 'disabled'>Today</span>" : "<a href = '../../index.html' >Today</a>" %>
	<% end %>
		<%= next_day.nil? ? "<span class = 'disabled'>&rarr;</span>" : "<a href = '../../#{next_day.year}/#{next_day.month}/#{next_day.day}.html' > &rarr; </a> " %>
	</div>
	<div class = 'image'>
		<%= "<a href='#{album['providers']['spotify']}'><img src='#{album['thumbnail']}' alt='#{album['artist'] } - #{album['album']}' width='640' height='640' ></a>" %> 
	</div>
	<div> 
		<h2><%= "#{album["artist"]} - #{album["album"]}" %> </h2>
	</div>
	<div>
		<%= "#{album['comment']}" %>
	</div>
	<hr>
	<div class='providers'>
		Available on: 
		<% p_text = [] %>
		<% album["providers"].each { |provider, url| p_text << "<a href='#{url}'>#{provider}</a>" } %>
		<%= p_text.join(" | ")%>
	</div>
	<hr>
	<small>CC BY-NC-SA 2020 mortenjohs -- <a href='https://github.com/mortenjohs/AlbumOfTheDay'>source</a></small><br>
	<small>
		<% p_text = [] %>
		<% providers.each { |provider| p_text << "<a href='../../rss/#{provider}.xml'>#{provider}</a>" } %>
		<%= "RSS(ATOM): #{p_text.join(' | ')}"%>
	</small>
</body>