<html>
	<head>
		<title>Stats</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="alternate" type="application/rss+xml" href="https://ervik.hopto.org/aotd/rss/spotify.xml" title="Album of the Day on Spotify">
	    <script src="https://unpkg.com/rough-viz@1.0.6"></script>
   	    <!-- <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet'> -->
   	    <link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
		<h1>Stats</h1>
		<% rel_path = './' %>
		<h2><%= "#{['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'][Date.today.wday]}, #{Date.today.to_s}" %></h2>
		<div class = "navigation"> 
			<a href = './index.html' >Today</a>
			<br>
			<span class='miniscule'><a href=<%= "'#{rel_path}random.html'" %>>Random</a> | <a href=<%= "'#{rel_path}stats.html'" %>>Stats</a></span>
		</div>
		<div class = 'image'>
			<div id="viz0"></div>
		</div>
		<br>
		<div class="stats">
			<table>
				<tr>
					<th>Decade</th>
					<th>Count</th>
					<th>Percent</th>
				</tr>
				<% total = stats[:years].map{ |a| a[1] }.inject(&:+) %>
				<% days_in_decade = (Date.parse("2030-01-01") - Date.parse("2020-01-01")).to_i %>
				<% current_day_in_decade = (Date.today - Date.parse("2020-01-01")).to_i %>
				<% proportion = current_day_in_decade.to_f/days_in_decade.to_f %>
				<% stats[:years].each do |d,c| %>
					<% if d<"202" %>
				<tr>
					<td><%= d %>0s</td>
					<td style="text-align:right"><%= c %></td>
					<td style="text-align:right"><%= ((c.to_f/total.to_f)*100).round %>%</td>
				</tr>
					<% else %>
					<td><%= d %>0s*</td>
					<td style="text-align:right"><%= "#{c} (Adjusted: #{(c/proportion).round})" %></td>
					<td style="text-align:right"><%= ((c.to_f/total.to_f)*100).round %>%</td>
					<% end %>
				<% end %>
				<tr>
					<td>Total:</td>
					<td style="text-align:right"><%= total %></td>
					<td style="text-align:right">100%</td>
				</tr>
			</table>
		</div>
		<small><%= "*Only #{(proportion*100).round(2)}% of the decade has passed." %></small>
		<script type="text/javascript">
			new roughViz.BarH({
			    element: '#viz0', // container selection
			    data: {
				    labels: [<%= "'" + stats[:years].map {|e| e[0]+"0s"}.join("','") + "'" %>],
			    	values: [<%= stats[:years].map {|e| e[1]}.join(',') %>]
				},			
				roughness: 5,
				axisRoughness: 3,
				fillStyle: 'cross-hatch',
				xLabel: 'Count',
				yLabel: 'Decade',
				interactive: false,
				// font: 'Architects Daughter',
				color: 'darkblue'
			});
		</script>
	</body>
</html>